.container{
    
    border-radius: 10px;
    width: fit-content;
    height: 20px;
    margin-top: 10px;
    padding:10px;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
}
.text{
    margin-left: 10px;
    
    font-weight: 800;
}
.text-selected{
    color:white;
}
.text-unselected{
    color:#757575;
}
.container-selected{
    border: solid 1px #0F70B7;
    background-color: #0F70B7;
}
.container-unselected{
    border: solid 1px #BDBDBD;;
    background-color: white;
}