<div class="container">
    <div class="slogan"> S'ORIENTER ET SE FORMER AVEC LABOUSSOLE C'EST REUSSIR!</div>
    <!--horizontal line -->
    <div class="line-container">
        <hr class="white-line">
    </div>

    <div class="flex-container">
        <div class="horizontalList">
            <div class="reachUs" >
                <div class="title-text"></div>
                <div class="phone">
                    <div class="phoneIcon"> <img src="../../assets/bxs_phone-call-std.svg" alt="" style="width: 30px;height:30px;margin-bottom: 5px;margin-top: 5px;"> </div>
                    <div class="phoneNumber"> <a style="color: white;" href="https://wa.me/message/3BL6ZH73RQZAK1" target="_blank">+237 672435162/ 694216571</a>
                        </div>
                </div>
                <div class="mail">
                    <div class="mailIcon">
                        <img src="../../assets/ic_sharp-email.svg" alt="" style="width: 30px; height:30px;margin-bottom: 5px;margin-top: 5px;">
                    </div>
                    <div class="email-link">
                        <a style="color:white" href="mailto:laboussolesangmelima@gmail.com">laboussolesangmelima@gmail.com</a>
                    </div>
                </div>
                
                <div class="location">
                    <div class="locationIcon"> <img src="../../assets/carbon_location-filled.svg" alt="" style="width: 30px; height:30px;margin-bottom: 5px;margin-top: 5px;"> </div>
                    <div class="locationText">Sangmelima - Nkolguet</div>
                </div>
            </div>
        </div>
        
        <div class="legal" style="cursor: pointer;">
            <div class="conditions">
                <div class="locationIcon"> <img src="../../assets/ecrit_1.svg" alt="" style="width: 30px; height:30px;margin-bottom: 5px;margin-top: 5px;"> </div>
                <div class="title-text" routerLink="/conditions">Conditions générales d’utilisation</div>
            </div>
            
            <div style="margin-bottom: 20px;margin-top:37px;;cursor: pointer;" routerLink="/faq">
                <span class="locationIcon"> <img src="../../assets/besoin-aide.svg" alt="" style="width: 30px; height:30px;margin-bottom: 5px;margin-top: 5px;margin-right:10px;position: relative;top:5px;"> </span>
                Besoin d’aide ?</div>
           
        </div>
           
            <div class="socialMedia">
                
                <a href="https://www.facebook.com/profile.php?id=61550732631371&mibextid=LQQJ4d" target="_blank">
                    <img matRipple  src="../../assets/face book.svg" alt="" style="width: 60px;height:50px;">
                </a>  
                <a href="https://www.youtube.com/@LABOUSSOLE-ic9mz" target="_blank">
                    <img matRipple src="../../assets/youtub.svg" alt="" style="width: 50px;height:50px;">
                </a>
                <a href="https://instagram.com/laboussole13?igshid=MjEwN2IyYWYwYw==" target="_blank">
                    <img matRipple src="../../assets/instagram.svg" alt="" style="width: 60px;height:50px;">
                </a>
                <a href="https://www.linkedin.com/company/laboussole13/" target="_blank">
                    <img matRipple src="../../assets/linked-in-icon.svg" alt="" style="width: 50px;height:50px;">
                </a>
                
                
              
                  
                
               
                   
           
               
                    
                
            </div>
        
    </div>
    
    
</div>

