@media  screen and (max-width:799px) {
  .flex-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%; 
  }
  .horizontalList{
    width: 80vw;
  }

  .company{
    margin-left:auto;
  }

  .slogan{
    color: white;
   text-align:center;
    margin-bottom: 30px;
    width: 100%;
}

}
@media screen and (min-width:800px) and (max-width:999px) {
  .flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    font-size: 14px;
  }
  .legal{
    margin-left: 50px;
  }
  .slogan{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
}
@media screen and (min-width:1000px) {
  .flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
  }
  .slogan{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
}


.container{
    width: 100%;
    height: fit-content;
    background-color:#0761B9;
    padding: 25px;
    display: flex;
    flex-flow: column nowrap;
    color: white;

}

.line-container {
    width: 100%; /* Adjust the width as needed */
    margin-bottom: 20px;
  }
  .locationText{
    width: 200px;
  }
  .white-line {
    border: none;
    height: 1px; /* Set the height of the line */
    background-color: #fff; /* Set the color of the line to white */
  }
  .horizontalList{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    color: white;

  }
  .title-text{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .legal{
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
  }

  .socialMedia{
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }