<div class="container">
    <div class="slogan"> S'ORIENTER AVEC NOUS C'EST LA REUSSITE A COUP SURE</div>
    <!--horizontal line -->
    <div class="line-container">
        <hr class="white-line">
    </div>
    <div class="horizontalList">
        <div class="reachUs">
            <div class="title-text">Reach Us</div>
            <div class="phone">
                <div class="phoneIcon"> <img src="/laboussole_client_web/assets/phone-icon-removebg-preview.png" alt="" style="width: 50px;height:50px;margin-bottom: 10px;margin-top: 10px;"> </div>
                <div class="phoneNumber"> +237 123 456 789</div>
            </div>
            <div class="mail">
                <div class="mailIcon"> <img src="/laboussole_client_web/assets/white-enveloppe-icon-removebg-preview.png" alt="" style="width: 50px; height:50px;margin-bottom: 10px;margin-top: 10px;"> </div>
                <div class="email-link">laboussole@gmail.com</div>
            </div>
            <div class="location">
                <div class="locationIcon"> <img src="/laboussole_client_web/assets/location-white-removebg-preview.png" alt="" style="width: 50px; height:50px;margin-bottom: 10px;margin-top: 10px;"> </div>
                <div class="locationText">Avenue des Banques, Yaounde, Centre, Cameroun</div>
            </div>
        </div>
        <div class="company">
            <div class="title-text">Company</div>
            <div class="about" style="margin-bottom: 10px;margin-top:10px;">About</div>
            <div class="contact">Contact</div>
        </div>
    </div>
    
    <div class="legal">
        <div class="title-text">Legal</div>
        <div style="margin-bottom: 10px;">Privacy Policy</div>
        <div style="margin-bottom: 10px;">Terms & Services</div>
        <div style="margin-bottom: 10px;">Terms of Use</div>
        <div style="margin-bottom: 10px;">Refund Policy</div>
    </div>
    <div>    
        <div class="newsletter">
            <div class="newsLetterText title-text">Join Our Newsletter</div>
            <div class="newsForm">
                <input type="text" name="" id="" style="width: 60vw;height:30px;margin-right: 10px;"> <span>subscribe</span>
            </div>
        </div>
        <div class="socialMedia">
            <div class="facebook">
                <img src="/laboussole_client_web/assets/fb_icon-removebg-preview.png"  alt="" style="width: 60px;height:50px;">
            </div>
            <div class="twitter">
                <img src="/laboussole_client_web/assets/twitter-icon.png"  alt="" style="width: 50px;height:50px;">
            </div>
            <div class="instagram">
                <img src="/laboussole_client_web/assets/instagram-icon-removebg-preview.png"  alt="" style="width: 60px;height:50px;">
            </div>
            <div class="youtube">
                <img src="/laboussole_client_web/assets/youtube-icon.png"  alt="" style="width: 50px;height:50px;">
            </div>
        </div>
    </div>
    
</div>

