<div class="title1">General Information</div>
<div class="text-description"> Lorem ipsum dolor sit amet consectetur a</div>
<hr>
<div class="title2">Profile picture</div>
<div class="profileBlock">
   <img  class="profile-img" src="/laboussole_client_web/assets/photo_icon.jpg" alt="">
   <div class="name title2">Name</div>
   <div class="deleteBtn">delete</div>
</div>
<form class="example-form">
   
  
    <table class="example-full-width" cellspacing="20">
        <tr>
            <td><mat-form-field class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput [(ngModel)]="selectedUser.Title" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                <mat-label>Long Last Name That Will Be Truncated</mat-label>
                <input matInput [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td><mat-form-field class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                <mat-label>Long Last Name That Will Be Truncated</mat-label>
                <input matInput [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td><mat-form-field class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                <mat-label>Long Last Name That Will Be Truncated</mat-label>
                <input matInput [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td><mat-form-field class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                <mat-label>Long Last Name That Will Be Truncated</mat-label>
                <input matInput [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </td>
        </tr>
    </table>
  
  </form>
  