<app-nav-bar></app-nav-bar>
<div class="container">
    <h1 style="text-align: center;width:100%;">FAQ de LABOUSSOLE - Résolution des problèmes</h1>
    <div id="faq" >
        <h2>Connexion et inscription</h2>
        <ul>
            <li>
                <strong>Q1 :J'ai oublié mon mot de passe. Que dois-je faire ?</strong> <br>
                <strong>R1 :</strong> Cliquez sur le lien "Mot de passe oublié" sur la page de connexion. Vous recevrez un e-mail avec des instructions pour réinitialiser votre mot de passe.
            </li>
            <li>
                <strong>Q2 : Je ne parviens pas à créer un compte. Que se passe-t-il ?</strong> <br>
                <strong>R2 :</strong> Assurez-vous de bien saisir toutes les informations requises et que votre adresse e-mail est valide. Si vous rencontrez toujours des problèmes, veuillez contacter notre équipe d'assistance.
            </li>
        </ul>
        
        <h2>Navigation dans l'application</h2>
        <ul>
            <li>
                <strong>Q3 : Comment puis-je trouver [fonctionnalité spécifique de l'application] ?</strong> <br>
                <strong>R3 :</strong> Vous pouvez utiliser la barre de recherche pour trouver des fonctionnalités spécifiques de l'application. Vous pouvez également explorer les différentes sections de l'application en utilisant le menu de navigation.
            </li>
            <li>
                <strong>Q4 : L'application est lente ou buggée. Que faire ? </strong><br>
                <strong>R4 :</strong> Assurez-vous que vous utilisez la dernière version de l'application. Redémarrez votre appareil et essayez à nouveau. Si le problème persiste, veuillez contacter notre équipe d'assistance.
            </li>
        </ul>
        
        <h2>Tests et questionnaires d'évaluation</h2>
        <ul>
            <li>
                <strong>Q5 : Je ne peux pas terminer un test ou un questionnaire. Que faire ? </strong><br>
                <strong>R5 :</strong> Assurez-vous que vous avez une connexion Internet stable. Si vous rencontrez toujours des problèmes, veuillez contacter notre équipe d'assistance.
            </li>
            <li>
                <strong>Q6 : Mes résultats aux tests ne sont pas précis. Que faire ? </strong> <br>
                <strong>R6 :</strong> Les tests et questionnaires d'évaluation sont conçus pour vous donner une indication générale de vos intérêts et aptitudes. Il est important de prendre en compte d'autres facteurs lors de votre prise de décision, tels que vos valeurs personnelles et vos objectifs professionnels.
            </li>
        </ul>
        
        <h2>Informations sur les formations et les métiers</h2>
        <ul>
            <li>
                <strong>Q7 : Je ne trouve pas d'informations sur la formation ou le métier qui m'intéresse. Que faire ? </strong><br>
                <strong>R7 :</strong> Utilisez la barre de recherche pour trouver des informations spécifiques. Vous pouvez également parcourir les différentes catégories de formations et de métiers. Si vous ne trouvez toujours pas ce que vous recherchez, veuillez contacter notre équipe d'assistance.
            </li>
        </ul>
        
        <h2>Cours en ligne et ressources</h2>
        <ul>
            <li>
                <strong>Q8 : Je ne peux pas m'inscrire à un cours en ligne. Que faire ? </strong><br>
                <strong>R8 :</strong> Assurez-vous que vous avez un compte et que vous êtes connecté. Vérifiez également si vous avez les conditions requises pour suivre le cours. Si vous rencontrez toujours des problèmes, veuillez contacter notre équipe d'assistance.
            </li>
            <li>
                <strong>Q9 : Je ne parviens pas à accéder à une ressource. Que faire ?</strong><br>
                <strong>R9 :</strong> Assurez-vous que vous avez une connexion Internet stable. Redémarrez votre appareil et essayez à nouveau. Si le problème persiste, veuillez contacter notre équipe d'assistance.
            </li>
        </ul>
        
        <h2>Assistance</h2>
        <p>
            <strong>Q10 : Comment puis-je contacter l'équipe d'assistance ? </strong> <br>
            <strong>R10 :</strong> Vous pouvez contacter notre équipe d'assistance en envoyant un e-mail à laboussolesangmelima@gmail.com, vous pouvez également nous contacter via whatsapp ou en appel normal à ce numéro +237 672435162.
        </p>
        <p style="margin-top:20px;">
          <strong>Nous nous efforçons de vous offrir la meilleure expérience possible avec notre application. Si vous rencontrez des problèmes, n'hésitez pas à contacter notre équipe d'assistance. Nous sommes là pour vous aider.
        </strong>     </p>
    </div>

</div>

<app-footer></app-footer>