<div class="container">
    <div class="leftMessageBox">
        <div class="ltext1">Ma personne, nous sommes ravi de t’accueillir parmi nous...</div>
        <div class="ltext2">Nous comprenons que choisir une orientation académique et professionnelle est une etape
            importante de ta vie, et nous sommes là pour te guider tout au long de ce processus. </div>
 
    </div>
    <div class="loginForm">
       <div class="imageResponse"><img src="../../assets/error-icon.png" alt="" class="image-res"></div>
       <div class="responseMessage1">Error</div>
       <div class="responseMessage2">Des problemes sont survenus lors de cette action veillez réessayer</div>
       <div class="responseButton"><button mat-raised-button color="green" routerLink="/signup">Réessayer</button></div>
        
    </div>
</div>

