<div class="menuPage" *ngIf="isMenuIconClicked">
    <app-nav-mobile-page (menuIconClicked)="toggleMenu()"></app-nav-mobile-page>
</div>
<div class="restOfPage" *ngIf="isMenuIconClosed">
    <app-nav-mobile-header (menuIconClosed)="toggleMenu()"></app-nav-mobile-header>
</div>

<div style="display: flex; ">
    <div style="display: flex; margin: 2%; width: 30%;">
        <a href=""><img src="../../assets/boutonRetour.png" alt="" style="width: 20px; height:15px;"> </a>
        <a routerLink="../formation" >Retour</a>
    </div>
    <div style="display: flex; margin: 2%; ">
        <a href="#DescriptionMetier">Qu'est ce qu'un ingenieur informaticien?</a>
        <a href="#EcoleFormation" style="margin-left: 15px;">Ou se former?</a>
        <a href="#Entreprise" style="margin-left: 15px;">Qui recherche ce profil?</a>
    </div>
</div>

<div style="text-align: center;width:100% ;height: 200px; background-image:url(../../assets/computer-eng.jpeg);">
    <h1 style="padding-top: 7%; font-size: xx-large;color: white;">Ingenieur Informaticien</h1> 
</div>

<div class="conteneur" style="display: flex; padding: 2%; ">

    <div class="infoscles" style="width:min-content; background-color: #DDDDDD; padding: 2%;">
        <h2 style="text-align: center;">Infos Clés</h2><br><br><br>

        <img src="../../assets/Symbol.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> <strong>Durée</strong> <br><br>
        <span> 5ans</span><br><br>

        <img src="../../assets/Symbol.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> <strong>Diplome délivré</strong> <br><br>
        <span> Diplome d'ingenieur en Génie Informatique</span><br><br>

        <img src="../../assets/Symbol.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> <strong>Lieu</strong> <br>
        <span> <li>Ecole Nationale Supérieure Polytechnique de Yaoundé (ENSPY)
            </li>
            <li>Université de Yaoundé I</li>
            <li> Université de Douala</li>
            <li>Institut Universitaire de Technologie de Douala (IUT)</li>
            <li>Institut Universitaire Polytechnique de Yaoundé (IUPY)</li>
        </span><br><br>

        <img src="../../assets/Symbol.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> <strong>Conditions d'admission</strong> <br><br>
        <span>Titulaire du Bacc ou GCE A/L Cycle Licence</span><br><br>

        <img src="../../assets/Symbol.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> <strong>Cout de laformation</strong> <br><br>
        <span>50 000 frs/an</span><br><br>

        <img src="../../assets/Symbol.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> <strong>Langue d'enseignement</strong> <br><br>
        <span>Français et Anglais</span><br><br>

        <img src="../../assets/Symbol.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> <strong>Salaire</strong> <br><br>
        <span> 400 000 FCFA - 1 200 000 FCFA </span><br><br>
    </div>

    <div class="allinfos" style="width:max-content;margin-left: 2%;">

        <div id="DescriptionMetier">
           <span></span> <img src="../../assets/pseudo.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> <strong>Qu'est ce qu'un Ingenieur Informaticien ?</strong> <br>
            <hr> 
            <span class="contenu">L'ingénieur informaticien conçoit, développe, et met en place des solutions informatiques pour répondre aux besoins des entreprises et des organisations. Il peut travailler dans différents domaines tels que le développement d'applications, la sécurité informatique, le réseautique, l'administration de systèmes.
                
                <br><br>
                <span class="compétences">
                    Compétences requises: 
                   
                    <li>Solides connaissances en informatique et programmation  </li>
                    <li> Capacité d'analyse et de résolution de problèmes</li>
                    <li>Bonnes capacités de communication</li>
                    <li>Aisance relationnelle</li>
                    <li>Capacité à travailler en équipe</li>
                    <li>Esprit d'innovation et de créativité</li>
                </span>
                <br><br>
                <span class="missions">Ses principales missions incluent:
                <li> Planification et animation des cours: Il prépare et dispense des cours de langue et littérature, en s'adaptant au niveau et aux besoins des élèves.</li>
                <li>Évaluation des acquis: Il évalue les progrès des élèves et leur fournit un feedback constructif.</li>
                <li>Suivi individualisé: Il accompagne les élèves en difficulté et les encourage à persévérer.</li>
                <li>Collaboration avec les parents: Il communique régulièrement avec les parents pour les informer des progrès de leurs enfants.</li>
                <li>Participation à la vie de l'école: Il participe aux réunions et aux projets pédagogiques de l'école. </li>
                </span>
                <br><br>
                <span class="salaire">
                    Salaire indicatif:
                    Le salaire d'un Ingenieur Informaticien varie en fonction de son expérience, de son niveau de qualification et de l'entreprise dans laquelle il travaille. En moyenne, un ingenieur débutant peut espérer un salaire mensuel d'environ 200 000 FCFA.
                </span>
            </span>
            <br><br><br>
        </div>
        <div id="EcoleFormation">
            <span></span> <img src="../../assets/pseudo.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> <strong>Ou se former?</strong> <br>
            <hr> 
            <span class="ecole formation">
                Ecoles de formation au Cameroun: <br><br>
                <li>Ecole Nationale Supérieure Polytechnique de Yaoundé (ENSPY)
                </li>
                <li>Université de Yaoundé I</li>
                <li> Université de Douala</li>
                <li>Institut Universitaire de Technologie de Douala (IUT)</li>
                <li>Institut Universitaire Polytechnique de Yaoundé (IUPY)</li>
            </span>
             <br><br><br>
        </div>

         <div id="Entreprise">
            <span></span> <img src="../../assets/pseudo.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> <strong>Qui recherche ce profil?</strong> <br>
            <hr> 
            <span class="entreprise">
                 <br><br>
                
                <li>Sociétés de services informatiques</li>
                <li>Entreprises privées</li>
                <li>Administrations publiques</li>
                <li>Organisations internationales</li>
            </span>
        </div>

    </div>
</div>
<app-footer></app-footer>
