<app-nav-bar></app-nav-bar>
    <div class="contentROP">
        <div class="titleBlock">
            <div class="title1">LABOUSSOLE en quelques mots</div>
            <div class="text1">Découvrez notre histoire, notre mission et une équipe formidable, dynamique 
                et ambitieuse rassemblée pour vous servir.</div>
        </div>
        <div class="blocks">
            <div class="block1"> <img src="../../assets/box1.png" alt=""></div>
            <div class="block2">
                <div class="text2">Notre Mission: Helping Millions of
                    Organizations Grow Better</div>
                    <div class="content">L'enseignant de langue et littérature est un professionnel de l'éducation qui a pour mission de transmettre sa passion des langues et de la littérature aux élèves. Il joue un rôle crucial dans le développement des compétences linguistiques et littéraires des élèves, tout en contribuant à leur épanouissement personnel et intellectuel.</div>
            </div>
            <div class="block3"><img src="../../assets/box2.png" alt=""></div>
            <div class="block4">
                <div class="text2">Découvrez notre histoire</div>
                <div class="content">L'enseignant de langue et littérature est un professionnel de l'éducation qui a pour mission de transmettre sa passion des langues et de la littérature aux élèves. Il joue un rôle crucial dans le développement des compétences linguistiques et littéraires des élèves, tout en contribuant à leur épanouissement personnel et intellectuel.</div>
            </div>
        </div>
        <div class="title">Une équipe rassemblée pour vous servir</div>
        <div class="presentationEquipe">
            <div class="profil">
                <div class="title">Profil</div>
                <div class="textProfil">L'enseignant de langue et littérature est un professionnel de l'éducation qui a pour mission de transmettre sa passion des langues et de la littérature aux élèves. Il joue un rôle crucial dans le développement des compétences linguistiques et littéraires des élèves, tout en contribuant à leur épanouissement personnel et intellectuel.
                </div>
            </div>
            <div class="caroussel-profils">
                <div class="temoignagesSlider">
                    <span class="leftArrowIcon">
                      <img
                        src="../../assets/icons8-back-arrow-50.png"
                        alt=""
                        style="width: 20px; height: 20px; position: relative; top: 5px"
                
                        (click)="prevImage()"
                      />
                    </span>
                    <span class="temoignageBox">
                      <img src="../../assets/ActuImage1.png" alt="">
                    </span>
                    <span class="rightArrowIcon">
                      <img
                        src="../../assets/icons8-arrow-circle-right-50.png"
                        alt=""
                        style="width: 20px; height: 20px; position: relative; top: 5px"
                
                        (click)="nextImage()"
                
                      />
                    </span>
                  </div>
            </div>

        </div>
    </div>
    <app-footer></app-footer>



