<app-nav-bar></app-nav-bar>
    <div class="contentROP">
        <div class="titleBlock">
            <div class="title1"> <span style="font-weight: 900;">LABOUSSOLE</span>  en quelques mots</div>
            <div class="text1">Découvrez notre histoire, notre mission et une équipe formidable, dynamique 
              et ambitieuse rassemblée pour vous servir.</div>
        </div>
        <div class="blocks">
            <div class="block1"> <img src="../../assets/1.png" alt=""></div>
            <div class="block2">
                <div class="text2">Notre mission : aider nos utilisateurs à réussir leurs insertions socio-professionnelles.</div>
                    <div class="content">LABOUSSOLE est une application web intelligente d’aide à l’orientation académique et professionnelle et de formation en ligne dans les métiers du numérique qui permettra aux apprenants d’avoir une insertion socio-professionnelle réussie en ayant un emploi décent à la fin de leurs formations ou en s’autoemployant ou en entreprenant.</div>
            </div>
            <div class="block3"><img src="../../assets/2.png" alt=""></div>
            <div class="block4">
                <div class="text2">Notre vision : Permettre à chacun de trouver sa voie et de s'épanouir dans sa carrière.
                </div>
                <div class="content">Nous voulons créer un monde où l'accès à l'information et à la formation est ouvert à tous, sans distinction de genre, d'origine sociale ou de niveau de qualification, afin que tout le monde puisse trouver sa voie et s’épanouir dans sa carrière.</div>
            </div>
        </div>
        <div class="title">Nous sommes une équipe jeune et dynamique pour vous servir !</div>
        <div class="presentationEquipe">
            <div class="profil">
                <div class="title">Profil</div>
                <div class="textProfil">Je suis AWANI LANKISSA Ella, je travaille comme UX/UI Manager pour LABOUSSOLE, et je suis par ailleurs élève ingénieur de génie numérique à l’École Supérieure Internationale de Génie Numérique de l’Université Inter État Congo-Cameroun basé à Sangmelima..
                </div>
            </div>
            <div class="caroussel-profils">
                <div class="temoignagesSlider">
                    <span class="leftArrowIcon">
                      <img
                        src="../../assets/icons8-back-arrow-50.png"
                        alt=""
                        style="width: 20px; height: 20px; position: relative; top: 5px"
                
                        (click)="prevImage()"
                      />
                    </span>
                    <span class="temoignageBox">
                      <img src="../../assets/photo_awani.png" alt="">
                    </span>
                    <span class="rightArrowIcon">
                      <img
                        src="../../assets/icons8-arrow-circle-right-50.png"
                        alt=""
                        style="width: 20px; height: 20px; position: relative; top: 5px"
                
                        (click)="nextImage()"
                
                      />
                    </span>
                  </div>
            </div>

        </div>
    </div>
    <app-footer></app-footer>



