
<div class="box">
    <div class="topImages">
        <div class="photoIcon"> <img src="/laboussole_client_web/assets/photo_icon.jpg" alt="" style=" width:70px;height:70px;"> </div>
        <div class="starsPhoto">
            <app-star *ngFor="let _ of counterArray; let i = index" [showFullStar]="(score - i) > 0.5" [showHalfStar]="(score - i) == 0.5"></app-star>
        </div>
    </div>
    <div class="name">Name</div>
    <div class="description">Lorem ipsum dolor sit, 
        amet consectetur adipisicing elit. Consequatur, beatae. Est 
        </div>
   
</div>