.profile-card {
    max-width: 200px;
    margin: auto;
  }
  
  .profile-image {
   background-image: url('../../assets/avatar.svg');
    background-size: cover;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  mat-card-content{
    text-align: center;
  }
  
  mat-card-header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
  }