<app-nav-bar></app-nav-bar>
  <div class="container">
    <div class="search-formation">
      <div class="search-bar">
        <span>
          <img src="../../../assets/search.svg" alt="" />
        </span>
        <input type="text" placeholder="  trouve ton métier en 10s..." (keyup.enter)="onEnterKeyPressed()" [(ngModel)]="query" />
      </div>
      <div
        class="search-menu"
        [ngClass]="{ 'small-screen-menu': getScreenWidth <= 600 }"
      >
        <div>
          <button mat-button [matMenuTriggerFor]="menu" (click)="searchCategory('market')">
            Marketing &nbsp; <img src="../../../assets/arrow-down.svg" alt="" />
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
          </mat-menu>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu" (click)="searchCategory('econo finance')">
            Economie &nbsp; <img src="../../../assets/arrow-down.svg" alt="" />
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
            
          </mat-menu>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu" (click)="searchCategory('math')">
            Mathématique &nbsp;
            <img src="../../../assets/arrow-down.svg" alt="" />
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
          </mat-menu>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu" (click)="searchCategory('socio')">
            Sociologie &nbsp;
            <img src="../../../assets/arrow-down.svg" alt="" />
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
            
          </mat-menu>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu" (click)="searchCategory('geographie geo')">
            Géographie &nbsp;
            <img src="../../../assets/arrow-down.svg" alt="" />
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
            
          </mat-menu>
        </div>
        <div class="large-screen-menu" *ngIf="getScreenWidth >= 992">
          <button mat-button [matMenuTriggerFor]="menu" (click)="searchCategory('Droit avocat juriste juge magistrat juridique')">
            Droit &nbsp;
            <img src="../../../assets/arrow-down.svg" alt="" />
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
            
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="menu-icon">
      <button *ngIf="getScreenWidth <= 600" mat-button (click)="showMobileMenu()">
        <img src="../../../assets/menu.svg" alt="" />
      </button>
      <div class="side-bar" onclick="">
        <div>
          <button mat-button [matMenuTriggerFor]="menu">
            Marketing &nbsp; <img src="../../../assets/arrow-down.svg" alt="" />
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
            
          </mat-menu>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu">
            Economie &nbsp; <img src="../../../assets/arrow-down.svg" alt="" />
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
            
          </mat-menu>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu">
            Mathématique &nbsp;
            <img src="../../../assets/arrow-down.svg" alt="" />
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
           
          </mat-menu>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu">
            Sociologie &nbsp;
            <img src="../../../assets/arrow-down.svg" alt="" />
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
            
          </mat-menu>
        </div>
      </div>
    </div>

    <!-- content -->

    <div class="formation-content">
      <div class="recommendations-text">
        <h2>Recommandations</h2>
      </div>
      <div class="recommendations">
        <div *ngFor="let metier of initialReccomendationsList; index as i">
          <app-offre-formation-box
            [metierBox]="metier" (click)="navigateToDetails(metier.id_metiers)"
          ></app-offre-formation-box>
        </div>
      </div>
      <div class="seeAll">
        <button class="btnPlus" mat-raised-button style="background-color: #0f70b7;color:white;" (click)="voirToutesReccomandatins()">voir plus</button>
      </div>
      <div class="recommendations-text">
        <h2>Tous les metiers</h2>
        <a href="" class="all" routerLink="/voir-tout-metiers">Voir tout</a>
      </div>
      <div class="recommendations">
        <div *ngFor="let metier of initialMetierList; index as i">
          <app-offre-formation-box (click)="navigateToDetails(metier.id_metiers)"
            [metierBox]="metier"
          ></app-offre-formation-box>
        </div>
      </div>
      <div class="seeAll">
        <button class="btnPlus" mat-raised-button style="background-color: #0f70b7;color:white;" (click)="voirTousMetiers()">voir plus</button>
      </div>
      
      <div class="recommendations-text">
        <h2>Plus Populaires</h2>
      </div>
      <div class="recommendations">
        <div *ngFor="let metier of recommendationsList; index as i">
          <app-offre-formation-box
            [metierBox]="metier" (click)="navigateToDetails(metier.id_metiers)"
          ></app-offre-formation-box>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
<div class="mobileMenu">
  <img src="../../../assets/x_close - icon - black.png" alt="" (click)="closeMenu()" width="20" height="20" style="position: relative;left: 90%;margin-top: 20px;">
  <div class="titleMenu">Metiers par domaine</div>
  <div class="menuItem" (click)="searchCategory('communication publicite journali')">Communication</div>
  <div class="menuItem" (click)="searchCategory('Droit avocat juriste juge magistrat juridique')">Droit</div>
  <div class="menuItem" (click)="searchCategory('Psycho')">Psychologie</div>
  <div class="menuItem" (click)="searchCategory('medecin medical sante dentiste chirurgi cardio ')">Médecine</div>
  <div class="menuItem" (click)="searchCategory('geographie geo')">Géographie</div>
  <div class="menuItem" (click)="searchCategory('informati ')">Informatique</div>
  <div class="menuItem" (click)="searchCategory('econo finance')">Economie</div>
  <div class="menuItem" (click)="searchCategory('math')">Mathématique</div>
  <div class="menuItem" (click)="searchCategory('socio')">Sociologie</div>
  <div class="menuItem" (click)="searchCategory('market community ')">Marketing</div>
</div>
