<div class="container">
    <div class="title">Tu n'as pas encore défini ton objectif ! </div>
    <div class="description">
        <h1 style="font-size: 19px;">C'est quoi un Objectif?</h1>
       <div class="response">
        Chez <b style="color: #0F70B7;">LABOUSSOLE</b>  Un Objectif est <b> Le métier pour lequel tu souhaites être compétent. </b>
       </div> 
       <h1 style="font-size: 19px;"> Pourquoi dois-je définir mon objectif ?</h1>
       <div class="response">
        En définissant ton objectif, nous saurons très exactement comment t'orienter vers une insertion socio-professionnelle réussie.
       </div>
       <h1 style="font-size: 19px;">Comment définir mon Objectif?</h1>
       <div class="response">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState2.set(true)" (closed)="panelOpenState2.set(false)">
              <mat-expansion-panel-header>
                <mat-panel-title>Je ne sais pas quel métier choisir comme objectif </mat-panel-title>
              </mat-expansion-panel-header>
             <div class="response3">
             <h3> Pour t'aider à bien choisir un métier pertinent dans lequel tu pourras acquérir une expertise en tenant compte de tes aptitudes et de ta situation présente, nous te proposons de suivre les 4 étapes suivantes :</h3>
             <button mat-fab extended style="background-color:#0F70B7;color: white;">
                <mat-icon>quiz</mat-icon>
                1. Passer un test Psychotechnique
              </button>

              <button (click)="goToSearchExepert()"  mat-fab extended style="background-color:#0F70B7;color: white;">
                <mat-icon>psychology</mat-icon>
                2. Consulter un Conseiller d'Orientation
              </button>  

              <button (click)="goToSearchExepert()"  mat-fab extended style="background-color:#0F70B7;color: white;">
                <mat-icon>engineering</mat-icon>
                3.Consulter des experts dans les métiers qui t'intéressent
              </button>  

              <button (click)="goToMetiers()" mat-fab extended style="background-color:#0F70B7;color: white;">
                <mat-icon>sports_score</mat-icon>
                4. Définir mon Objectif
              </button>  
        
             </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
              <mat-expansion-panel-header>
                <mat-panel-title> Je suis certain de savoir le métier qui me convient </mat-panel-title>

              </mat-expansion-panel-header>
              <button (click)="goToMetiers()" mat-fab extended style="background-color:#0F70B7;color: white;">
                <mat-icon>sports_score</mat-icon>
                Définir mon Objectif
              </button>  
            </mat-expansion-panel>
          </mat-accordion>
       </div>
    </div>
    <div class="action">

    </div>
</div>
