<app-nav-bar></app-nav-bar>

<div style="display: flex; ">
    <div style="display: flex; margin: 2%; width: 30%;">
        <a href=""><img src="../../assets/boutonRetour.png" alt="" style="width: 20px; height:15px;"> </a>
        <a (click)="navigateToParent(filiereItem.universite)" >Retour</a>
    </div>
    
</div>

<div style="text-align: center;width:100% ;height: 200px; background-image:url(../../assets/computer-eng.jpeg);">
    <h1 style="padding-top: 7%; font-size: xx-large;color: white;">{{filiereItem.nom}}</h1> 
</div>

<div class="conteneur" style="display: flex; padding: 2%; ">

    <div class="allinfos" style="width:max-content;margin-left: 2%;">

        <div id="DescriptionMetier">
           <span></span> <img src="../../assets/pseudo.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> <strong>Presentation de  {{filiereItem.nom}} ?</strong> <br>
            <hr> 
            <span class="contenu">{{filiereItem.descriptif}}
                
                <br><br>
            </span>
            <br><br><br>
        </div>
        <div id="EcoleFormation" >
            <span></span> <img src="../../assets/pseudo.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> <strong>Filieres de  {{filiereItem.nom}}</strong> <br>
            <hr> 
            <span class="ecole formation">
               
                <div class="label" >Cycle Licence:</div>
                <mat-accordion id="blurMark">
                    <mat-expansion-panel *ngFor="let licence of filieresLicence" 
                            (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{licence.nom}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>{{licence.descriptif}}</p>
                    </mat-expansion-panel>
                  </mat-accordion>
                <br>

              <div class="label" *ngIf="!hideAll">Cycle Master:</div>   <br><br>
                <mat-accordion *ngIf="!hideAll">
                    <mat-expansion-panel *ngFor="let master of filieresMaster"
                            (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{master.nom}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>{{master.descriptif}}</p>
                    </mat-expansion-panel>
                  </mat-accordion>
                
            </span>
             <br><br><br>
        </div>

         <div id="Entreprise" *ngIf="!hideAll">
            <span></span> <img src="../../assets/pseudo.png" alt="" style="width: 15px; height:15; margin-right: 5px;"> 
            
            <!-- <strong>Les écoles de l’{{filiereItem.nom}}</strong>  -->
            <br>
            <hr> 
        </div>
        

    </div>
</div>
<div class="createAccount" *ngIf="hideAll" style="display: flex;width:100%;justify-content:center;align-items:center;flex-flow: column nowrap;gap: 10px;position: relative;bottom: 50px;">
          <div><button mat-raised-button style="background-color: #0F70B7;color:white;" routerLink="/signup">Creer mon compte</button></div>
  <div><button mat-raised-button style="background-color: #0F70B7;color:white;" routerLink="/login">Je me connecte </button></div>
        <div style="color:#0F70B7;width: 100%;text-align: center;">Connectez vous ou Créez un compte pour lire la totalité de cet article</div> 
</div>
<app-footer></app-footer>
