.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .post-card {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .avatar {
    background-image: url('../../assets/avatar.svg');
    background-size: cover;
  }
  