
  <div class="article-editor">
    <div class="editor-header">
      <button mat-raised-button  class="new-article-btn">
        <mat-icon>add</mat-icon>
        Rédiger un article
      </button>
    </div>
    <div class="tabs">
      <button mat-button class="tab" id="recent">Recent</button>
      <button mat-button class="tab" id="favorites">Favoris</button>
      <button mat-button class="tab" id="all">Tout</button>
    </div>
  </div>
  
  <mat-divider></mat-divider>
  
  <div class="post-container" >
    <div class="articles" *ngIf="!showArticleContent">
      <app-article-card (articleClicked)="openArticle($event)"></app-article-card>
    </div>
    <div class="articleContent" *ngIf="showArticleContent">
      <app-article-content></app-article-content>
    </div>
  </div>
  