
<div class="container">
    <div class="iconsList">
        <div class="searchIcon"><img src="../../assets/white-search-icon/icons8-search-60.png" alt="" style="width: 50px; height: 50px;"></div>
        <div class="menuIcon" (click)="closeMenu()" ><img src="../../assets/x_close - icon - white.png" alt="" style="width: 50px; height: 50px;"></div>
    </div>
    <div class="menuList">
        <div class="menuItem">Acceuil</div>
        <div class="menuItem" (click)="showDropdown = !showDropdown">Nos Services</div>
            <div class="dropdown-content" *ngIf="showDropdown">
                <div class="dropdown-item">Orientation</div>
                <div class="dropdown-item">Formation</div>
                <div class="dropdown-item">Emplois</div>
                <div class="dropdown-item">Documentation</div>
                <div class="dropdown-item">Etudes a l'etranger</div>
            </div>
        <div class="menuItem">A propos de Nous</div>
        <div class="menuItem">Contactez-nous</div>
    </div>
    <div class="buttonsList">
        <app-custom-round-button [title]="'login'"></app-custom-round-button>
        <app-custom-round-button class="signUpBtn" [title]="'sign up'"></app-custom-round-button>
    </div>
</div>
