     
<div class="container">
    <div class="iconsList">
        <div class="searchBar" *ngIf="showSearchBar"> <input type="text" name="" id="" class="searchBar"> </div>
        <div class="searchIcon" (click)="showSearchBar = !showSearchBar"><img src="../../assets/search-lg.png" alt="" style="width: 10vw; height: 10vw;"></div>
        <div class="menuIcon" (click)="closeMenu()" ><img src="../../assets/x-close.png" alt="" style="width: 10vw; height: 10vw;"></div>
    </div>
    <div class="menuList">
        <div class="menuItem">Acceuil</div>
        <div class="menuItem" (click)="showDropdown = !showDropdown">Nos Services</div>
            <div class="dropdown-content" *ngIf="showDropdown">
                <div class="dropdown-item">Formation</div>
                <div class="dropdown-item">Emplois</div>
                <div class="dropdown-item">Etudes a l'etranger</div>
            </div>
        <div class="menuItem">A propos de Nous</div>
        <div class="menuItem">Contactez-nous</div>
    </div>
    <div class="buttonsList">
        <app-custom-round-button routerLink="/login" [title]="'login'"></app-custom-round-button>
        <app-custom-round-button  routerLink="/signup" class="signUpBtn" [title]="'sign up'"></app-custom-round-button>
    </div>
</div>
