<div class="container">
    <div class="photo"> <img src="../../assets/workplace.jpg" alt="" style="width: 150px;height:110px;"> </div>
    <div class="rightBox">
        <div class="date" style="color: indigo;font-weight:600;font-size:18px;margin-bottom: 10px;">date</div>
        <div class="title" style="color: black;font-weight:900;font-size:24px;margin-bottom: 10px;">title</div>
        <div class="description" style="color: gray;font-weight:500;font-size:18px;margin-bottom: 30px;">description</div>
        <div class="tags" style="color: green;">tags
        </div>
    </div>
</div>
