<mat-nav-list>
    <mat-list-item>
      <mat-icon>inbox</mat-icon>
      <span class="label">Tous les messages</span>
      <span class="count">{{all_messages_count}}</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>star</mat-icon>
      <span class="label">Favoris</span>
      <span class="count">{{all_favorite_count}}</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>drafts</mat-icon>
      <span class="label">Message non lu</span>
      <span class="count">{{unread_message_count}}</span>
    </mat-list-item>
  </mat-nav-list>
  
  <div class="filters">
    <mat-checkbox id="private-message" (change)="onPrivateMessageChange($event)">Message privé</mat-checkbox>
    <mat-checkbox id="group-message" (change)="onGroupMessageChange($event)">Message de groupe</mat-checkbox>
  </div>

  
  