<div class="navflexcontainer">
    <div>
      <img
        routerLink=""
        class="logo_icon"
        src="../../assets/logo laboussole 1.png"
        alt=""
      />
    </div>
    <div class="rightPlacedIcons">
      <!-- <div class="searchBar" *ngIf="showSearchBar"> <input type="text" name="" id="" class="searchBar"> </div>
          <div  (click)="showSearchBar = !showSearchBar"><img class="searchIcon" src="../../assets/search-lg.png" alt=""></div>-->
      <form class="inputbox">
        <input required="required" />
        <button type="reset" class="del"></button>
      </form>
      <div
        (click)="openMenu()"
        [ngStyle]="{ display: hideMenuIcon ? 'none' : 'block' }"
      >
        <img class="menuIcon" src="../../assets/menu drawer.png" alt="" />
  
      </div>
    </div>
  </div>
  <div class="navFlexContainerTabletDesktop">
  
      <div class="logo_icon"><img src="../../assets/logo laboussole 1.png" alt=""  style="width: 60px; height: 60px;"></div>
      
      <div class="home nav-item">Home </div>
     
      <div class="services nav-item" (click)="showDropdown = !showDropdown">Nos Services </div>
              
      <div class="apropos nav-item">A propos de nous </div>
  
  
    <div class="contact nav-item">Contactez Nous</div>
    <div class="searchBox nav-item">
      <input type="text" class="searchInput" name="" id="" placeholder="search" />
    </div>
    <div class="signupBtn nav-item">Notifications</div>
    <div class="loginBtn nav-item" > <img src="../../assets/profile-svgrepo-com.svg" alt="">  Hi,{{username}}</div>
  </div>
  <div class="dropdown-content" *ngIf="showDropdown">
    <div class="dropdown-item">Formations</div>
    <div class="dropdown-item">Etudes a l'etranger</div>
    <div class="dropdown-item">Bourses D'etudes</div>
    <div class="dropdown-item">Metiers</div>
  </div>
  