<div class="navflexcontainer">
  <div class="leftContainer" *ngIf="!hideOthers">
    <div routerLink="/">
      <div
      (click)="openMenu()"
      [ngStyle]="{ display: hideMenuIcon ? 'none' : 'block' }"
    >
    <button class="menuIcon" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  
    </div>
      <img
        
        class="logo_icon"
        src="../../assets/logo laboussole 1.png"
        alt=""
      />
    </div>
  </div>
 
  
 
  <div class="rightPlacedIcons">
    <form class="inputbox">
      <input required="required" (focus)="handleClick()" (blur)="handleClick()"  placeholder="trouve ton métier..." name="query" (keyup.enter)="onEnterKeyPressed()" [(ngModel)]="query"  />
      <button type="reset" class="del">
      </button>
    </form>
    <div class="notifications" *ngIf="!hideOthers">
      <mat-icon  [matBadge]="unread_notif_count" [matBadgeHidden]="unread_notif_count == ''" matBadgeColor="warn" style="position:relative;right:20px;" (click)="goToNotifications()">notifications</mat-icon>
    </div>
    <div class="profile" *ngIf="!hideOthers" [matMenuTriggerFor]="profileMenu">
      <img *ngIf="picture==''" src="../../assets/profile-svgrepo-com.svg" alt="" width="30px" height="30px" >

      <img *ngIf="picture" [src]="picture" alt="" width="30px" height="30px" style="border-radius: 50%;">
      </div>
   
  </div>
</div>
  <div class="navFlexContainerTabletDesktop">
  
      <div class="logo_icon" routerLink="/">
        <img src="../../assets/logolaboussole1.svg" alt=""  style="width: 60px; height: 60px;">
      </div>
      
      <div class="home nav-item" routerLink="/">Acceuil </div>
     
      <div class="services nav-item" [matMenuTriggerFor]="servicesMenu" (click)="showDropdown = !showDropdown">Nos Services </div>
              
      <div class="apropos nav-item" routerLink="/aboutus">A propos de nous </div>
  
  
    <div class="contact nav-item" routerLink="/contact">Contactez Nous</div>
    <div class="searchBox nav-item">
      <input type="text" class="searchInput" name="" id="" placeholder="trouve ta formation.."  (keyup.enter)="onEnterKeyPressed()" [(ngModel)]="query" />
    </div>
    <div class="signupBtn nav-item" [matBadge]="unread_notif_count" [matBadgeHidden]="unread_notif_count == ''" matBadgeColor="warn"  (click)="goToNotifications()">Notifications</div>
    <div class="loginBtn nav-item" [matMenuTriggerFor]="profileMenu">
      <img *ngIf="picture==''" src="../../assets/profile-svgrepo-com.svg" alt="" width="30px" height="30px">

      <img *ngIf="picture" [src]="picture" alt="" width="30px" height="30px" style="border-radius: 50%;">
        Hi, {{username}}
      </div>
  </div>


  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="/profil/0">
      <mat-icon>person</mat-icon>
      <span>Profil</span>
    </button>
    <button mat-menu-item routerLink="/faq"> 
      <mat-icon>help</mat-icon>
      <span>Aide</span>
    </button>
    <button mat-menu-item (click)="signOut()">
      <mat-icon>logout</mat-icon>
      <span>Decconexion</span>
    </button>
  </mat-menu>
  <mat-menu #servicesMenu="matMenu">
    <button mat-menu-item routerLink="/metiers">Métiers</button>
    <button mat-menu-item routerLink="/universites">Offres de formation</button>
  </mat-menu>
  