<div class="mobileContainer">
  <mat-drawer-container class="container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'">
        <div class="drawerBox">
          <div class="logo">
            <img
            matRipple
            class="logo_icon"
            src="../../assets/logolaboussole1.svg"
            alt=""
            routerLink="/"
          />
        </div>
            <div class="menu">
                <div class="home menuItem"  (click)="changePanel(1)">Acceuil</div>
                <div class="chats menuItem" (click)="changePanel(2)">Messages</div>
                <div class="groups menuItem"  (click)="changePanel(3)">Mes groupes</div>
                <mat-divider></mat-divider>
                <div class="articles menuItem" (click)="changePanel(4)">Mes Articles</div>
                <div class="solde menuItem" (click)="changePanel(5)">Mon Solde</div>
                <mat-divider></mat-divider>
                <div class="logout menuItem">Decconexion</div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
      <app-expert-nav-bar></app-expert-nav-bar>
      <button  (click)="drawer.toggle()" style="border:none;margin-left:10px;margin-top:10px;margin-bottom:10px;">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="displayContainer">
        <app-expert-dashboard-panel-home *ngIf="panel_number==1"></app-expert-dashboard-panel-home>
        <app-message-panel *ngIf="panel_number==2"></app-message-panel>
        <app-groups-panel *ngIf="panel_number==3"></app-groups-panel>
        <app-articles-panel *ngIf="panel_number==4"></app-articles-panel>
      </div>
     
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<div class="tabletContainer">
  <app-expert-nav-bar></app-expert-nav-bar>
  <!-- Tablet content here -->
  <div class="navAndMainContainer">
    <div class="nav">
      <div class="nav_tablet">
        
          <div class="menu">
              <div class="home menuItem"  (click)="changePanel(1)">Acceuil</div>
              <div class="chats menuItem" (click)="changePanel(2)">Messages</div>
              <div class="groups menuItem"  (click)="changePanel(3)">Mes groupes</div>
              <mat-divider></mat-divider>
              <div class="articles menuItem" (click)="changePanel(4)">Mes Articles</div>
              <div class="solde menuItem" (click)="changePanel(5)">Mon Solde</div>
              <mat-divider></mat-divider>
              <div class="logout menuItem">Decconexion</div>
          </div>
      </div>
    </div>
    <div class="main">
      
      <div class="displayContainer">
        <app-expert-dashboard-panel-home *ngIf="panel_number==1"></app-expert-dashboard-panel-home>
        <app-message-panel *ngIf="panel_number==2"></app-message-panel>
        <app-groups-panel *ngIf="panel_number==3"></app-groups-panel>
        <app-articles-panel *ngIf="panel_number==4"></app-articles-panel>
      </div>
    </div>
  </div>
</div>

<div class="desktopContainer">
  <app-expert-nav-bar></app-expert-nav-bar>
  <!-- Desktop content here -->
  <div class="navAndMainContainer">
    <div class="nav">
      <div class="nav_tablet">
        
          <div class="menu">
              <div class="home menuItem"  (click)="changePanel(1)">Acceuil</div>
              <div class="chats menuItem" (click)="changePanel(2)">Messages</div>
              <div class="groups menuItem"  (click)="changePanel(3)">Mes groupes</div>
              <mat-divider></mat-divider>
              <div class="articles menuItem" (click)="changePanel(4)">Mes Articles</div>
              <div class="solde menuItem" (click)="changePanel(5)">Mon Solde</div>
              <mat-divider></mat-divider>
              <div class="logout menuItem">Decconexion</div>
          </div>
      </div>
    </div>
    <div class="main">
      <div class="displayContainer">
        <app-expert-dashboard-panel-home *ngIf="panel_number==1"></app-expert-dashboard-panel-home>
        <app-message-panel *ngIf="panel_number==2"></app-message-panel>
        <app-groups-panel *ngIf="panel_number==3"></app-groups-panel>
        <app-articles-panel *ngIf="panel_number==4"></app-articles-panel>
      </div>
    </div>
  </div>
</div>