.container{
    height: 100vh;
    background-color: white;
    
}
app-expert-nav-bar{
  position:fixed;
  width: 100%;
  z-index: 100; /* Specify a z-index to control stacking order */
  /* Other styles as needed */
}
.pageContent{
  position: relative;
  top:80px;
  height: 100vh;
  overflow: hidden;
}
h2{
    margin-left:10px;
    width: fit-content;
}
.logo{
    width: fit-content;
    margin-bottom: 30px;
}
.drawerBox{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80vw;
    height: 100vh;
    padding-top: 30px;
}
mat-divider{
    margin-top: 50px;
    margin-bottom:10px;
}
.menu{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.menuItem {
    width: 150px;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: white;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  .menuItem:hover {
    background-color: #0F70B7;
    width: 150px;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  .logout{
    color:red;
  }

    

/* Header section */
.header {
    background-color: #0F70B7;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width: 80vw;
    margin-left: 20px;
    font-size: 20px;
}
.card {
    background-color: #0F70B7; /* Replace with the specific blue color code */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    color: white;
    margin-left: 20px;
    font-size: 20px;
  }
  
  .card .date {
    font-size: small;
    color: #CCCCCC; /* Replace with the specific gray color code */
  }
  
  .card h1 {
    font-size: medium; /* Adjust size as needed */
  }
  

/* Total gains card */
.total-gains-card {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    font-size: 20px;
    width: fit-content;
    margin-left: 30px;
    

}
.message-container {
    font-family: Arial, sans-serif;
  }
  
/* Hide all containers by default */
.mobileContainer, .tabletContainer, .desktopContainer {
    display: none;
  }
  
  /* Show mobile container on small screens */
  @media (max-width: 767px) {
    .mobileContainer {
      display: block;
      background-color: white;
    }
  }
  
  /* Show tablet container on medium screens */
  @media (min-width: 768px) and (max-width: 1024px) {
    .tabletContainer {
      display: block;
    }
  }
  
  /* Show desktop container on large screens */
  @media (min-width: 1025px) {
    .desktopContainer {
      display: block;
    }
  }
.navAndMainContainer{
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
}
.main{
    flex-grow: 2;
    padding-top: 40px;
}
.nav{
    flex-grow: 1;
}
.nav_tablet{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    padding-top: 30px;
}