<div class="filter-bar">
    <button mat-icon-button>
      <mat-icon>filter_alt</mat-icon>
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Par type</mat-label>
      <mat-select id="payType" (selectionChange)="onSelectionChange($event)">
        <mat-option value="0">tous</mat-option>
        <mat-option value="1">Non Lu</mat-option>
        <mat-option value="2">prive</mat-option>
        <mat-option value="3">groupe</mat-option>
        <mat-option value="4">favoris</mat-option>
        <!-- Additional options here -->
      </mat-select>
    </mat-form-field>
   
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>