<div class="navflexcontainer">
  <div class="leftContainer" *ngIf="!hideOthers">
    <div routerLink="/">
      <div
      (click)="openMenu()"
      [ngStyle]="{ display: hideMenuIcon ? 'none' : 'block' }"
    >
      <img class="menuIcon" src="../../assets/menu drawer.png" alt="" />
  
    </div>
      <img
        
        class="logo_icon"
        src="../../assets/logo laboussole 1.png"
        alt=""
      />
    </div>
  </div>
 
  <div class="rightPlacedIcons">
    <form class="inputbox" >
      <input required="required" (focus)="handleClick()" (blur)="handleClick()" placeholder="trouve une école ou un metier..." name="query" (keyup.enter)="onEnterKeyPressed()" [(ngModel)]="query"  />
      <button type="reset" class="del" ></button>
    </form>
   
    <div class="profile" *ngIf="!hideOthers" [matMenuTriggerFor]="profileMenu"> <img src="../../assets/profile-svgrepo-com.svg" alt="" width="30px" height="30px"></div>
   
  </div>
</div>
<div class="navFlexContainerTabletDesktop">

    <div class="logo_icon" routerLink="/"><img src="../../assets/logo laboussole 1.png" alt=""  style="width: 60px; height: 60px;"></div>
    
    <div class="home nav-item" routerLink="/">Acceuil </div>
   
    <div class="services nav-item" [matMenuTriggerFor]="servicesMenu" >Nos Services </div>
            
    <div class="apropos nav-item" routerLink="/aboutus">A propos de nous </div>


  <div class="contact nav-item" routerLink="/contact">Contactez Nous</div>
  <div class="searchBox nav-item">
    <input type="text" class="searchInput" name="" id="" placeholder="trouve une école ou un metier..." (keyup.enter)="onEnterKeyPressed()" [(ngModel)]="query" />
  </div>
  <div class="signupBtn nav-item" routerLink="/signup">inscription</div>
  <div class="loginBtn nav-item" routerLink="/login">Connexion</div>
</div>
<mat-menu #servicesMenu="matMenu">
  <button mat-menu-item routerLink="/metiers">Métiers</button>
  <button mat-menu-item routerLink="/universites">Offres de formation</button>
</mat-menu>
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item routerLink="/signup">
    <mat-icon>person</mat-icon>
    <span>Créer un compte</span>
  </button>
  <button mat-menu-item routerLink="/login">
    <mat-icon>login</mat-icon>
    <span>Connexion</span>
  </button>
</mat-menu>