<div class="navflexcontainer">
  <div routerLink="/">
    <img
      
      class="logo_icon"
      src="../../assets/logo laboussole 1.png"
      alt=""
    />
  </div>
  <div class="rightPlacedIcons">
    <!-- <div class="searchBar" *ngIf="showSearchBar"> <input type="text" name="" id="" class="searchBar"> </div>
        <div  (click)="showSearchBar = !showSearchBar"><img class="searchIcon" src="../../assets/search-lg.png" alt=""></div>-->
    <form class="inputbox">
      <input required="required" />
      <button type="reset" class="del"></button>
    </form>
    <div
      (click)="openMenu()"
      [ngStyle]="{ display: hideMenuIcon ? 'none' : 'block' }"
    >
      <img class="menuIcon" src="../../assets/menu drawer.png" alt="" />

    </div>
  </div>
</div>
<div class="navFlexContainerTabletDesktop">

    <div class="logo_icon" routerLink="/"><img src="../../assets/logo laboussole 1.png" alt=""  style="width: 60px; height: 60px;"></div>
    
    <div class="home nav-item" routerLink="/">Home </div>
   
    <div class="services nav-item" [matMenuTriggerFor]="servicesMenu" >Nos Services </div>
            
    <div class="apropos nav-item" routerLink="/aboutus">A propos de nous </div>


  <div class="contact nav-item" routerLink="/contact">Contactez Nous</div>
  <div class="searchBox nav-item">
    <input type="text" class="searchInput" name="" id="" placeholder="search" />
  </div>
  <div class="signupBtn nav-item" routerLink="/signup">Signup</div>
  <div class="loginBtn nav-item" routerLink="/login">Login</div>
</div>
<mat-menu #servicesMenu="matMenu">
  <button mat-menu-item routerLink="/metiers">Metiers</button>
  <button mat-menu-item routerLink="/universites">Offres de formation</button>
</mat-menu>