

<div class="conteneur">

  
  <div class="row1" >
    <label for="" >Ma personne, nous sommes ravi de t'acceuillir parmi nous...<br><br></label>
    
  </div>
  <form action="process.php" method="post">
    <div class="row">
        <label for="" style="font-size: x-small;">Allons y commençons,<br><br></label>
        <label for=""><h1 style="font-size: large;">Créer un compte <br><br><br></h1></label>
      </div>
    <div class="row">
      <input type="text" name="nom" id="nom" placeholder="Entrez votre nom" required >
      <label for="nom" class="champs">Ton nom</label>
    </div>

    <div class="row">
        <input type="text" name="prenom" id="prenom" placeholder="Entrez votre prénom" required >
        <label for="prenom" class="champs">Ton prénom</label>
      </div>

    <div class="row">
      <input type="email" name="email" id="email" placeholder="Entrez votre mail"required>
      <label for="email" class="champs" >Email</label>
    </div>

    <div class="row">
      <input type="password" name="motdepasse" id="motdepasse" placeholder="Entrez votre mot de passe"required>
      <label for="motdepasse" class="champs">Mot de passe</label>
    </div>
       
    <div class="row">
        <input type="password" name="motdepasseconfirm" id="motdepasseconfirm" placeholder="Entrez votre mot de passe"required>
        <label for="motdepasseconfirm" class="champs">Confirmer</label>
      </div>
    
    <div class="rows">
        <input type="checkbox" name="validation" value="j'accepte">
         <label>En créant votre compte cela signifie que vous acceptez <a href="" >les conditions générales</a> et <a href="" >la politque de confidentialité</a> </label>
    </div>

    <div class="row">
      <input type="submit" value="Créer" style="font-weight: bold; font-size: large;">
    </div>
    
    <div class="row">
        <hr ALIGN=CENTER WIDTH="90%">
        <label for="ligne" style="margin-left: 45%; margin-top: -23px; background-color: white; width: max-content;padding: 5px;">Or</label>
      </div>

      <div class="row2">
        <img src="">
         <label style="display: flex;"> <img src="../../assets/icons8-google.svg"  style="margin-left: 2%;"> <a href="" class="link2" style="margin-left: 25%;"> Sign up with Google</a>  </label>
      </div>

      <div class="row">
         <label>Already have an account? <a href="">Login here</a> </label>
    </div>
  </form>
</div>

