@media screen and (max-width:600px) {
    .leftMessageBox{
        display: none;
    }
    .container{
        display: flex;
        flex-flow: column nowrap;
        background-color: #0F70B7;
        padding-left: 10px;
        padding-right: 10px;
        padding-top:20vh;
        height: 100vh;
       
    }
    
    .loginForm{
        background-color: white;
        height: 80vh;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        padding-top: 20px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    
    }
    .stepTwo{
        background-color: white;
        height: 80vh;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
  
    .welcomeText{
        margin-top:20px;
        margin-left:20px;
        margin-bottom: 10px;
    }
    .loginMessage{
        font-size: 20px;
        font-weight: 800;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .emailInput{
        margin-left: 20px;
    }
    .passwordInput{
        margin-left:20px;
    }
    
    /* Customize the highlight color for focused input fields */
    .custom-input:focus {
        border-color: #007bff; /* Change this color to your desired highlight color */
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    
    .options{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-left:20px;
        margin-right: 20px;
    }
    
    .btnContinue{
        width: 80vw;
        height: 50px;
        border-radius: 10px;
        background-color: #0F70B7;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .googleLogin{
        width: 80vw;
        height: 50px;
        border-radius: 10px;
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border: solid 1px gray;
    }
    .centerContainer{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 20px;
        height: 35vh;
        
    }
    
    .text{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
    hr{
        width: 30vw;
    }
    
    .Signup{
       margin-top: auto;
    }

    mat-form-field{
        width: 80vw;
        
    }
}

@media screen and (min-width:601px) and (max-width:700px) {
    mat-form-field{
        width: 43vw;
    }
    .leftMessageBox{
        display: none;
    }
}
@media screen and (min-width:701px) and (max-width:800px) {
    mat-form-field{
        width: 53vw;
    }
    .leftMessageBox{
        display: none;
    }

    .emailInput{
        margin-bottom: 10%;
    }
    .leftMessageBox{
        display: none;
    }
    .loginForm{
        padding-top: 20px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .container{
        height: 100vh;
    }
    .stepTwo{
        background-color: white;
        height: 80vh;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}
@media screen and (min-width:801px) and (max-width:900px) {
    mat-form-field{
        width: 60vw;
    }
    .emailInput{
        margin-bottom: 10%;
    }
    .leftMessageBox{
        display: none;
    }
    .loginForm{
        padding-top: 20px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .container{
        height: 100vh;
    }
    .stepTwo{
        background-color: white;
        height: 80vh;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}
@media screen and (min-width:901px) {
    mat-form-field{
        width: 40vw;
    }
    .ltext1{
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 30px;
    }
  
    .leftMessageBox{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        color: white;
        width: 50vw;
        height: 100vh;
        background-color:#0F70B7
    }
    .container{
        display: flex;
        flex-flow: row nowrap;
        height: fit-content;
        height: 100vh;
       
    }
    
    .loginForm{
        padding-top: 20vh;
        padding-left: 100px;
        padding-right: 100px;
        background-color: white;
        height: 100vh;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        width: 50vw;
    
    }
    
    .welcomeText{
        margin-top:20px;
        margin-left:20px;
        margin-bottom: 10px;
    }
    .loginMessage{
        font-size: 20px;
        font-weight: 800;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .emailInput{
        margin-left: 20px;
    }
    .passwordInput{
        margin-left:20px;
    }
    
    /* Customize the highlight color for focused input fields */
    .custom-input:focus {
        border-color: #007bff; /* Change this color to your desired highlight color */
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    
    .options{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-left:20px;
        margin-right: 20px;
    }
    
    .btnContinue{
        width: 40vw;
        height: 50px;
        border-radius: 10px;
        background-color: #0F70B7;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .googleLogin{
        width: 40vw;
        height: 50px;
        border-radius: 10px;
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border: solid 1px gray;
    }
    .centerContainer{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 20px;
        height: 35vh;
        
    }
    
    .text{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
    hr{
        width: 30vw;
    }
    
    .Signup{
       margin-top: auto;
    }

    .loginForm{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .emailInput{
        margin-bottom: 15%;
    }

}
@media screen and (min-width:601px) and (max-width:899px) {
    .container{
        display: flex;
        flex-flow: column nowrap;
        background-color: #0F70B7;
        padding-left: 150px;
        padding-right: 150px;
        padding-top:20vh;
        height: fit-content;
        
       
    }
    
    .loginForm{
        background-color: white;
        height: 80vh;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    
    }
    
    .welcomeText{
        margin-top:20px;
        margin-left:20px;
        margin-bottom: 10px;
    }
    .loginMessage{
        font-size: 20px;
        font-weight: 800;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .emailInput{
        margin-left: 20px;
    }
    .passwordInput{
        margin-left:20px;
    }
    
    /* Customize the highlight color for focused input fields */
    .custom-input:focus {
        border-color: #007bff; /* Change this color to your desired highlight color */
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    
    .options{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-left:20px;
        margin-right: 20px;
    }
    
    .btnContinue{
        width: 50vw;
        height: 50px;
        border-radius: 10px;
        background-color: #0F70B7;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .googleLogin{
        width: 50vw;
        height: 50px;
        border-radius: 10px;
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border: solid 1px gray;
    }
    .centerContainer{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 20px;
        height: 35vh;
        
    }
    
    .text{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
    hr{
        width: 30vw;
    }
    
    .Signup{
       margin-top: auto;
    }

  
}
.btnContinue:hover{
    background-color: white;
    color:#0F70B7
}
.googleLogin:hover{
    background-color: #0F70B7;
    color:white;
}

.stepTwo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    color: gray;

}

.title{
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.next{
    margin-top: 10%;
    color: #007bff;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

.retry{
    margin-top:10%;
}

.welcomeText{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
}

.stepSuccess,.errorMessage{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    height: 80vh;
}