
<button class="back" (click)="backToArticleList()" mat-fab extended>
  <mat-icon>arrow_back_ios</mat-icon>
  retour
</button>
<div class="article-container mat-elevation-z3">
    <h1 class="title">{{title}}</h1>
    <div class="article-meta">
      <span class="author">{{author_name}}</span>
      <span class="date">{{date}}</span>
    </div>
    <img [src]="article_image" alt="Article Image" class="article-image">
    <div class="article-content" [innerHTML]="content">
     
    </div>
    <div class="article-actions">
      <button mat-icon-button><mat-icon>thumb_up</mat-icon></button>
      <button mat-icon-button><mat-icon>comment</mat-icon></button>
      <button mat-icon-button><mat-icon>share</mat-icon></button>
    </div>
  </div>
  