<mat-tab-group *ngIf="!show_action_plan">
    <mat-tab label="Objectifs En Cours">
        <app-objectif-box 
        [job_title]="current_objective.nom"
        [job_description]="current_objective.description"
        *ngIf="is_objective_set" (showPlan)="showActionPlan($event)"></app-objectif-box>
        <app-objectif-placeholder *ngIf="!is_objective_set"></app-objectif-placeholder>
         </mat-tab>
    <mat-tab label="Objectifs Atteints"> 
     
    </mat-tab>
   
  </mat-tab-group>
  
  <app-plan-action-list (backToActionList)="hideActionPlan($event)" *ngIf="show_action_plan"></app-plan-action-list>