.containerImageAcceuil {
  display: grid;
  background-color: #EEF8FC;
  width: 100vw;
  height:max(50vh,fit-content);
  padding-top: 5vh;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 1fr auto;

}
.contentROP{
  background-color: #E5E2E2;
}

.welcomeText {
  grid-column: 2/3;
  height: fit-content;
  text-align: center;
}

.imageAcceuil {
  grid-column: 2/3;
  width: 100%; /* Ensure the div fills the grid cell horizontally */
  height: 100%; /* Ensure the div fills the grid cell vertically */
}

.imageAcceuil img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: top;
}

.header-text{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1vh;
}
.small-header-text{
  font-size: 0.7rem;
}

.title-1,.content-text{
  width: 60%;
  color: white;
}
.title-1{
  margin-bottom: 2vh;
  margin-top: 2vh;
  font-weight: bold;
  font-size: 1.5rem;
}

.content-text{
  font-size: 0.9rem;
  margin-bottom: 130px;
}

.optionsList{
  position: relative;
  bottom: 90px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows:auto;

  grid-template-areas: ". m ."
                       ". b ."
                       ". v ."
                       ". f .";
  
  
  a{
    text-decoration: none;
  }
}

.metier{
  grid-area: m;
}
.bourse{
  grid-area:b;
}
.voyage{
  grid-area: v;
}
.formation{
  grid-area: f;
}

.mainMessageBox{

  background-color: #0F70B7;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.boxAboutLaboussole{
  width: 100%;
  height: max(fit-content,40vh);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
}
.aboutLaboussoleImage img{
  width: 90%;
  height: 90%;
  object-fit: cover; 
  object-position: center;
 
}
.aboutLaboussoleImage{
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.question{
  font-size: 1.5rem;
  font-weight: bold;
}
.reponse{
  width: 90%;
  text-align: justify;
  font-size: 0.8rem;
  margin-bottom: 15px;
  color: #696984;
}

.temoignages{
  width: 100%;
  background-color: #0F70B7;
  margin-top: 160px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  padding-top:30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.tem-title{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.tem-question{
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.tem-text{
  width: 50%;
  margin-bottom: 20px;
}

.sendTemoignage{
  border: 1px solid #2DAAE1;
  padding:20px;
  border-radius: 30px;
  cursor: pointer;
}
.temoignagesSlider{
  cursor: pointer;
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
}

.sendTemoignage:hover{
  border: 1px solid white;
}

.titleActu{
  margin-left:10vw;
  font-size: 1.2rem;
  font-weight: 800;
}

.largeScreenBox{
  display: none;
}

.photo-footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width:700px) {

  .header-text{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1vh;
  }
  .small-header-text{
    font-size: 1rem;
  }
  
}

@media screen and (min-width:1000px) {
  .actualites{
    display: none;
  }
  .largeScreenBox{
    display: block;
  }
  
  .containerImageAcceuil {
    display: grid;
    background-color: #EEF8FC;
    width: 100vw;
    height: max(50vh,fit-content);
    padding-top: 5vh;
    grid-template-columns: 5vw 40vw 40vw 5vw;
    grid-template-rows: 1fr;
    grid-gap:20px;
  }
  
  .welcomeText {
    grid-column: 2/3;
    height: fit-content;
    text-align: center;
   
  }
  
  .imageAcceuil {
    grid-column: 3/4;
    width: 100%; /* Ensure the div fills the grid cell horizontally */
    height: 100%; /* Ensure the div fills the grid cell vertically */
  }
  
  .imageAcceuil img {
    width: 100%;
    height: 100%;
    object-position: top;
  }
  .header-text{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 10vh;
  }
  .small-header-text{
    font-size: 1rem;
  }

  .optionsList{
    position: relative;
    bottom: 90px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-auto-rows:auto;
  
    grid-template-areas: ". m b ."
                         ". v f .";
    
    
  }

  .aboutLaboussoleImage img{
    width: 60%;
    height: 60%;
    object-fit: cover; 
    object-position: center;
   
  }
  .question{
    font-size: 1.8rem;
    font-weight: bold;
  }
  .reponse{
    width: 60%;
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 15px;
  }

 
}