  <div class="menuPage" *ngIf="isMenuIconClicked">
    <app-nav-mobile-page (menuIconClicked)="toggleMenu()"></app-nav-mobile-page>
  </div>
  <div class="restOfPage" *ngIf="isMenuIconClosed">
      <app-nav-mobile-header (menuIconClosed)="toggleMenu()"></app-nav-mobile-header>
      <div class="contentROP">
            <div class="containerImageAcceuil">
              <div class="welcomeText">
                <div class="header-text">Ne perds plus de temps : utilise LABOUSSOLE dès aujourd'hui 
                                                          et construis l'avenir dont tu rêves.</div>
                <div class="small-header-text">LABOUSSOLE te permettra de trouver le métier qui correspond à tes 
                                                      attentes et de te former dans les métiers du numérique.</div> 
              </div>
              <div class="imageAcceuil"> <img src="../../assets/imageAcceuilLBS.png" alt=""> </div>
          </div>
          <div class="mainMessageBox">
           <div class="title-1">Nous t’accompagnons vers la reussite</div> 
            <div class="content-text"> Nous te proposons une orientation académique 
              et professionnelle qui correspond parfaitement à tes 
              centres d’intérêts et à tes compétences afin d’avoir 
              une insertion socio-professionnelle réussite et nous te formons dans les métiers 
               du numérque pour saisir l’opportunité du télétravail.
            </div> 
          </div>
      </div>
      <div class="optionsList">

        <app-acceuil-option-box class="metier" [title]="'Metiers'" 
        [description]="description_Metier" [icon_name]="'direction board.png'" [color]="'#5B72EE'">
        </app-acceuil-option-box>

        <app-acceuil-option-box class="bourse" [title]="'Bourses D\'etudes'" 
        [description]="description_Bourses" [icon_name]="'mortarboard.png'" [color]="'#F48C06'">
        </app-acceuil-option-box>
      </a>

          <app-acceuil-option-box class="voyage" [title]="'Voyages D\'etudes'" 
            [description]="description_Voyages_Etudes" [icon_name]="'office bag.png'" [color]="'#29B9E7'">
          </app-acceuil-option-box>
        
          <app-acceuil-option-box class="formation" [title]="'Formation'" 
          [description]="description_Formation" [icon_name]="'open book.png'" [color]="'#41BE90'">
          </app-acceuil-option-box>
      </div>
      <div class="boxAboutLaboussole">
          <div class="question"><span style="color:#0761B9;"> C'est quoi</span>  <span style="color:#00A4E4;"> LABOUSSOLE ?</span></div> <br> <br> <br>
          <div class="reponse">LABOUSSOLE est une application web intelligente d’aide à l’orientation académique et professionnelle et de formation en ligne 
            dans les métiers du numérique qui permettra aux apprenants soit d’avoir un emploi décent à la fin de leurs formations,
             soit d’entreprendre, soit de s’autoemployer afin d’avoir une insertion socio-professionnelle réussite..  <a href="http://">lire plus</a>
          </div>

          <div class="aboutLaboussoleImage">
            <img  src="../../assets/video-popup-bg-01.jpg.png" alt="">
          </div> 

      </div>
    </div>

      <div class="temoignages">
        <div class="tem-title">Temoignages</div>

          <div class="tem-question"> Que pensent t-ils?</div>
          <div class="tem-text">
            plusieurs personnes nous on fait confiance et on decidé de le faire savoir.
            Aussi, nous ne sommes pas les seul a mettre l’orientation au coeur de tout. 

          </div>
          <div class="sendTemoignage">
            <span>Laisser un temoignage </span> <span class="rightArrowIcon"> <img src="../../assets/icons8-arrow-right-60.png" alt="" style="width: 20px;height:20px;position:relative;top:5px;"> </span>
          </div>

          <div class="temoignagesSlider">
            <span class="leftArrowIcon"> <img src="../../assets/icons8-back-arrow-50.png" alt="" style="width: 20px;height:20px;position:relative;top:5px;"> </span>
            <span class="temoignageBox">
              <app-temoignage-box></app-temoignage-box>
            </span>
            <span class="rightArrowIcon">
              <img src="../../assets/icons8-arrow-circle-right-50.png" alt="" style="width: 20px;height:20px;position:relative;top:5px;">
            </span>
          </div>
        </div>


      <div class="titleActu">Actualités du jour</div>
      <div class="actualites">
        
        <app-actualite-box class="actualites-item" [image]="'ActuImage1.png'" [date]="'November 16, 2014'" [title]="'Three Pillars of User Delight'" [description]="'Delight can be experienced viscerally, behaviourally, and reflectively. A great design is ...'" [tags]="'UI, UX'"></app-actualite-box>
        <app-actualite-box [image]="'ActuImage2.png'" [date]="'September 24, 2014'" [title]="'UX Mapping Methods'" [description]="'Visual-design principles can be applied consistently throughout the process of creating a polished UX map...'" [tags]="'Research,  UI Design'"></app-actualite-box>
        
      </div>
      <div class="largeScreenBox">
        <div class="leftActus">
          <app-actualite-box class="actualites-item" [image]="'ActuImage1.png'" [date]="'November 16, 2014'" [title]="'Three Pillars of User Delight'" [description]="'Delight can be experienced viscerally, behaviourally, and reflectively. A great design is ...'" [tags]="'UI, UX'"></app-actualite-box>
        <app-actualite-box [image]="'ActuImage2.png'" [date]="'September 24, 2014'" [title]="'UX Mapping Methods'" [description]="'Visual-design principles can be applied consistently throughout the process of creating a polished UX map...'" [tags]="'Research,  UI Design'"></app-actualite-box>
        </div>
        <!--
            <div class="RightActus">
            <app-actualite-large-screen-box></app-actualite-large-screen-box>
        </div>
        -->
        
      </div>
      <div class="photo-footer"> <img src="../../assets/photo-footer.png" alt="" style="width: 200px; height:200px;"> </div>
      <app-footer></app-footer>
    
  </div>
