<div class="card">
  <p class="date">{{d}}</p>
  <h1>Welcome sur votre tableau de bord Monsieur {{userName}} !</h1>
</div>

<div class="total-gains-card">
  <h2>Total gains</h2>
  <p>{{totalgains | number}} FCFA</p>
  <!-- Add any other content you need -->
</div>

<h2>Nouveaux Messages</h2>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Tous">
    <div class="message-container">
      <app-message *ngFor="let privateChat of privateChatsLastMessage"
      [senderName]="privateChat.name"
      [messageTitle]="privateChat.content"
      [timestamp]="privateChat.date"
        [isPrivate]="true"
        [Id]="privateChat.id"
        (messageEvent)="privateMessageClicked($event)">
      </app-message>
      <app-message *ngFor="let groupChat of groupChatsLastMessage"
    [senderName]="groupChat.name"
    [messageTitle]="groupChat.content"
    [timestamp]="groupChat.date"
      [isPrivate]="false"
      [Id]="groupChat.id"
      (messageEvent)="groupMessageClicked($event)">
    </app-message>
    </div>
    
  </mat-tab>
  <mat-tab label="Prives">
    <app-message *ngFor="let privateChat of privateChatsLastMessage"
    [senderName]="privateChat.name"
    [messageTitle]="privateChat.content"
    [timestamp]="privateChat.date"
    [isPrivate]="true"
    [Id]="privateChat.id"
    (messageEvent)="privateMessageClicked($event)">

  </app-message>
</mat-tab>
  <mat-tab label="Groupes">
    <app-message *ngFor="let groupChat of groupChatsLastMessage"
    [senderName]="groupChat.name"
    [messageTitle]="groupChat.content"
    [timestamp]="groupChat.date"
      [isPrivate]="false"
      [Id]="groupChat.id"
      (messageEvent)="groupMessageClicked($event)">
    </app-message>

  </mat-tab>
</mat-tab-group>
