.container {
    width: 310.65px;
    height: 297px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // padding: 70px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
  
    img {
      width: 243px;
      height: 109px;
      // position: absolute;
      // top: -50px;
      // background-color: #D9D9D9;
    }
    .text {
      width: 243px;
      height: 100px;
      margin-top: 10px;
      // background-color: #D9D9D9;
      text-align: center;
      overflow: hidden;
  
      p {
        font-size: 12px;
        margin-top: 10px;
        // display: -webkit-box;
        // -webkit-line-clamp: 4;
        // line-clamp: 4;
      }
    }
    .bookmark {
      // position: relative;
      // display: flex;
      // justify-content: right;
      img {
        // position: absolute;
        // right: 5px;
        width: 9.6px;
        height: 13.6px;
        margin-top: 20px;
      }
    }
  }
  