<div class="container">
  <button (click)="signalBackToList()" mat-mini-fab >
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <mat-tab-group>
    <mat-tab label="Plan d'Action">
      <mat-accordion>
       
        <mat-expansion-panel *ngFor="let step of detailed_action_plan;let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title> {{i+1}}. {{step.title}} </mat-panel-title>
            <mat-panel-description> <span style="display: flex;flex-flow:row nowrap;justify-content:space-evenly;width:100%"><b>duree:</b> {{step.duration}}    <b>cout:</b> {{step.cost}}</span>  </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="step_description"><span><b>description:</b> {{step.description}}</span> </div>
          <div class="step_ressource"> <span><b>ressource:</b> {{step.ressources}}</span> </div>
        </mat-expansion-panel>
       
      </mat-accordion>
       </mat-tab>
    <mat-tab label="Forum"> Content 2 </mat-tab>
  </mat-tab-group>
  
</div>
