
<div class="container">
    
    <img class="topImage" src="/laboussole_client_web/assets/top-image-admin-home-panel.png" alt="">
    
    <div class="Indicators">
        <div class="createdAccountsIndicator indicator">
            <img class="statImage" src="/laboussole_client_web/assets/icons8-group-64.png" alt="">
            <div class="miniContainer">
                <div class="text1"> Comptes Crees </div>
                <div class="circle">0</div>
            </div>
            
        </div>
        <div class="createdAccountsIndicator indicator">
            <img class="statImage" src="/laboussole_client_web/assets/icons8-group-64.png" alt="">
            <div class="miniContainer">
                <div class="text1"> Comptes Completes </div>
                <div class="circle">0</div>
            </div>
            
        </div>
         <div class="createdAccountsIndicator indicator">
            <img class="statImage" src="/laboussole_client_web/assets/icons8-group-64.png" alt="">
            <div class="miniContainer">
                <div class="text1"> Desabbonemment </div>
                <div class="circle">0</div>
            </div>
            
        </div>
    </div>
    <div class="graph"></div>
</div>

