<app-nav-bar></app-nav-bar>
  
    <div class="container">
      <div class="search-formation">
        <div class="search-bar">
          <span>
            <img src="../../../assets/search.svg" alt="" />
          </span>
          <input type="text" placeholder="Search..." (keyup.enter)="onEnterKeyPressed()" [(ngModel)]="query" />
        </div>
        <!--
          <div
          class="search-menu"
          [ngClass]="{ 'small-screen-menu': getScreenWidth <= 600 }"
          >
          <div>
            <button mat-button [matMenuTriggerFor]="menu">
              Université d’Etat &nbsp; <img src="../../../assets/arrow-down.svg" alt="" />
            </button>
            <mat-menu #menu="matMenu" yPosition="below">
              
            </mat-menu>
          </div>
          <div>
            <button mat-button [matMenuTriggerFor]="menu">
              Institutions publiques &nbsp; <img src="../../../assets/arrow-down.svg" alt="" />
            </button>
            <mat-menu #menu="matMenu" yPosition="below">
              
            </mat-menu>
          </div>
          <div>
            <button mat-button [matMenuTriggerFor]="menu">
              Institutions privées &nbsp;
              <img src="../../../assets/arrow-down.svg" alt="" />
            </button>
            <mat-menu #menu="matMenu" yPosition="below">
              
            </mat-menu>
          </div>
          <div>
            <button mat-button [matMenuTriggerFor]="menu">
              Autres Etablissemement &nbsp;
              <img src="../../../assets/arrow-down.svg" alt="" />
            </button>
            <mat-menu #menu="matMenu" yPosition="below">
              
            </mat-menu>
          </div>
        </div>
        -->
      </div>
      <!--

        <div class="menu-icon">
        <button *ngIf="getScreenWidth <= 600" mat-button (click)="showMobileMenu()">
          <img src="../../../assets/menu.svg" alt="" />
        </button>
        <div class="side-bar" onclick="">
          <div>
            <button mat-button [matMenuTriggerFor]="menu">
              Marketing &nbsp; <img src="../../../assets/arrow-down.svg" alt="" />
            </button>
            <mat-menu #menu="matMenu" yPosition="below">
             
            </mat-menu>
          </div>
          <div>
            <button mat-button [matMenuTriggerFor]="menu">
              Economie &nbsp; <img src="../../../assets/arrow-down.svg" alt="" />
            </button>
            <mat-menu #menu="matMenu" yPosition="below">
              
            </mat-menu>
          </div>
          <div>
            <button mat-button [matMenuTriggerFor]="menu">
              Mathématique &nbsp;
              <img src="../../../assets/arrow-down.svg" alt="" />
            </button>
            <mat-menu #menu="matMenu" yPosition="below">
             
            </mat-menu>
          </div>
          <div>
            <button mat-button [matMenuTriggerFor]="menu">
              Sociologie &nbsp;
              <img src="../../../assets/arrow-down.svg" alt="" />
            </button>
            <mat-menu #menu="matMenu" yPosition="below">
              
            </mat-menu>
          </div>
        </div>
      </div>

      -->
      
  
      <!-- content -->
  
      <div class="formation-content">
        <div class="recommendations-text">
          <h2>Recommandations</h2>
          <a class="all" routerLink="/voir-tout-formations" (click)="handleClick()">Voir tout</a>
        </div>
        <div class="recommendations">
          <div *ngFor="let formation of initialReccomendationsList; index as i">
            <app-filiere-formation-box (click)="navigateToDetails(formation.faculte_id)"
              [formationBox]="formation"
            ></app-filiere-formation-box>
          </div>
        </div>
        <div class="recommendations-text">
          <h2>Toutes les Universités</h2>
        </div>
        <div class="recommendations">
          <div *ngFor="let formation of formations; index as i">
            <app-filiere-formation-box
              [formationBox]="formation" (click)="navigateToDetails(formation.universite_id)"
            ></app-filiere-formation-box>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
    <div class="mobileMenu">
      <img src="../../../assets/x_close - icon - black.png" alt="" (click)="closeMenu()" width="20" height="20" style="position: relative;left: 90%;margin-top: 20px;">
      <div class="titleMenu">Metiers par domaine</div>
      <div class="menuItem">Communication</div>
      <div class="menuItem">Droit</div>
      <div class="menuItem">Psychologie</div>
      <div class="menuItem">Médecine</div>
      <div class="menuItem">Géographie</div>
      <div class="menuItem">Informatique</div>
    </div>
  