<div class="container">
    <div class="picture_name">
        <div class="picture"><img src="../../assets/photo_icon.jpg" alt="" width="50px" height="50px" style="border-radius:50%"></div>
        <div class="name">Name</div>
    </div>
    <div class="text">There’s no other program that walks you through exactly
                      what you need to know to start an online store fast,
                      written by someone who has built several 7-figure ecommerce businesses from scratch. What’s more, everything has been broken down in step-by-step detail with real action plans including finding your niche</div>
    <div class="date">22.03.2021</div>
</div>
