

  <div class="mobileContainer">
    <mat-toolbar>
      <mat-toolbar >
          <button mat-icon-button (click)="backToList()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <span class="toolbar-title">Minerva Barnett</span>
          <div class="tag">Message prive</div>
          <span class="spacer"></span>
          <button mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>star</mat-icon>
          </button>
        </mat-toolbar>
        
    </mat-toolbar>
    
    <div class="message-container">
      <div class="chat-container">
        <app-chat-message text="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters." timestamp="6:30 pm" [isSent]="false"></app-chat-message>
        <app-chat-message text="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour." timestamp="6:34 pm" [isSent]="true"></app-chat-message>
        <app-chat-message text="The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text." timestamp="6:38 pm" [isSent]="false"></app-chat-message>
      </div>
      
    </div>
    
    <mat-form-field class="message-input">
      <input matInput placeholder="Type a message" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
      <button mat-icon-button matSuffix (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="tabletContainer">
    <mat-toolbar>
      <mat-toolbar >
          <button mat-icon-button (click)="backToList()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <span class="toolbar-title">Minerva Barnett</span>
          <div class="tag">Message prive</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert" (click)="showMembers()"></mat-icon>
          <span class="spacer"></span>
          <button mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>star</mat-icon>
          </button>
        </mat-toolbar>
        
    </mat-toolbar>
    
    <div class="message-container">
      <div class="chat-container">
        <app-chat-message text="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters." timestamp="6:30 pm" [isSent]="false"></app-chat-message>
        <app-chat-message text="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour." timestamp="6:34 pm" [isSent]="true"></app-chat-message>
        <app-chat-message text="The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text." timestamp="6:38 pm" [isSent]="false"></app-chat-message>
      </div>
      
    </div>
    
    <mat-form-field class="message-input">
      <input matInput placeholder="Type a message" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
      <button mat-icon-button matSuffix (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="desktopContainer">
    <mat-toolbar>
      <mat-toolbar >
          <button mat-icon-button (click)="backToList()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <span class="toolbar-title">Minerva Barnett</span>
          <div class="tag">Message prive</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert" (click)="showMembers()"></mat-icon>
          <span class="spacer"></span>
          <button mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>star</mat-icon>
          </button>
        </mat-toolbar>
        
    </mat-toolbar>
    
    <div class="message-container">
      <div class="chat-container">
        <app-chat-message text="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters." timestamp="6:30 pm" [isSent]="false"></app-chat-message>
        <app-chat-message text="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour." timestamp="6:34 pm" [isSent]="true"></app-chat-message>
        <app-chat-message text="The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text." timestamp="6:38 pm" [isSent]="false"></app-chat-message>
      </div>
      
    </div>
    
    <mat-form-field class="message-input">
      <input matInput placeholder="Type a message" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
      <button mat-icon-button matSuffix (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>

  </div>