form{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}
.steps_list{
    margin-top: 20px;
    background-color: rgb(236, 244, 247);
    margin-bottom: 50px;
}
mat-expansion-panel{
    margin-bottom: 10px;
}