.container{
    width: 90vw;
}

.description,.disponibilite{
    margin-top: 20px;
}
.image{
    margin-top: 20px;
}

.actions{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 10px;
    margin-top:10px;
}

.rating_bar{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 15px;
    gap: 10px;
}

.consultations,.experience,.rating{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}