<app-nav-bar></app-nav-bar>
<div class="container" style="margin-top: 20px;">

<h1 style="color:#0761B9;font-size:large;">Publier Une Notification</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Titre</mat-label>
      <input matInput [(ngModel)]="titre" >
    </mat-form-field>

  <editor apiKey="6c3d08htb7egh1msbf37jsifosfi9cp5klhcslif5nzlhnb6"
  [init]="{
    plugins: [
  'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount'
  ],
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ]
  }"
  [(ngModel)]="contenu">
</editor>
    
      <div class="image_header_input" style="margin-top: 10px;margin-bottom:10px;">
        <h3>inserez un pdf </h3>
        <button style="background-color: #0761B9;" mat-mini-fab  (click)="fileInput2.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
          <input type="file" #fileInput2 (change)="onPDFSelected($event)" multiple style="display: none;" accept="application/pdf"/>
          <div class="image_preview">
           <b>Fichier : </b> {{file_preview}}
          </div>
      </div>
    <div class="image_header_input">
      <h3>inserez l'image de l'article</h3>
      <button style="background-color:#0761B9;" mat-mini-fab  (click)="fileInput.click()">
          <mat-icon>image</mat-icon>
        </button>
        <input type="file" #fileInput (change)="onFileSelected($event)" multiple style="display: none;" accept="image/*"/>
        <div class="image_preview">
          <img class="banner_image" [src]="image_preview" alt="">
        </div>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Nationalite</mat-label>
        <mat-select [(ngModel)]="nationalite">
          <mat-option  value="Camerounais">
            Camerounais
          </mat-option>
          <mat-option  value="Congolais">
            Congolais
          </mat-option>
          <mat-option  value="Tous">
            Tous
          </mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date d'expiration</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="dateControl" placeholder="jj/mm/aaaa">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  

  <div class="actions">
      
    <button style="background-color:#0761B9;" class="publish" (click)="publishArticle()" mat-fab extended>
      <mat-icon>publish</mat-icon>
      Publier
    </button>
  </div>

  <ng-template #errorSheet>
    <div class="sheetContent">
      {{sheetErrorMessage}}
       <br/><br/>
       <button mat-raised-button (click)="closeBottomSheet()" style="background-color: red;color:white;">ok</button>
    </div>
    
  </ng-template>