.banner_image{

    width: 80%;
    height: 200px;
    object-fit: contain; 
    object-position:top;
}
.image_preview{
    width: 100%;
}
.example-full-width{
    width: 80%;
}

.container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.publish{
    justify-self: flex-end;
    margin-bottom: 50px;
    margin-right: 25px;
}
.back{
    justify-self: flex-start;
    margin-bottom: 50px;
    margin-left: 25px;
}
.actions{
    width: 100%;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    margin-top: 20px;
}