/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Montseratt';
    src: url('../src/assets/Montserrat/static/Montserrat-Light.ttf');
  }
body{
    overflow-x: hidden;
    font-family: 'Montseratt';
    background-color:  #0F70B7;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
html{
  padding: 0;
  margin: 0;
}