.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0F70B7;
  }
  
  mat-card {
    width: 400px;
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  