
<div class="login-container">
    <mat-card>
      <mat-card-title>Se connecter</mat-card-title>
      <form>
        <mat-form-field class="full-width">
          <mat-label>email</mat-label>
          <input matInput  (keyup)="trimEmail()"
          placeholder="pat@example.com"
          [formControl]="emailControl"
          [(ngModel)]="email"
          required/>
        </mat-form-field>
        
        <mat-form-field class="full-width">
          <mat-label>Mot de passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  [formControl]="passwordControl" (keyup.enter)="checkLogin()" [(ngModel)]="password" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        
        <mat-checkbox>Se souvenir du mot de passe</mat-checkbox>
        
        <button mat-raised-button style="background-color: #0F70B7;color:white;" (click)="checkLogin()" class="full-width" type="submit" routerLink="/expert-dashboard/">Connexion</button>
      </form>
    </mat-card>

    <mat-progress-spinner
    *ngIf="showSpinner"
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value">
  </mat-progress-spinner>
    
</div>

<ng-template #errorSheet>
  <div class="sheetContent">
    {{sheetErrorMessage}}
     <br/><br/>
     <button mat-raised-button (click)="closeBottomSheet()" style="background-color: red;color:white;">ok</button>
  </div>
  
</ng-template>