<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="navigationBox">
        <div routerLink="/profil/0" *ngIf="location_number>0"><img src="../../assets/icons8-left-arrow-50.png" alt="" width="15px"></div> 
         <span class="title">{{current_location}}</span>
     </div>
     <div class="topBox">
     </div>
     <div class="mobile-container">
         <img class="circleProfile" [src]="profile_image" alt="" width="150px" height="150px">
         <button mat-mini-fab class="floatingBtn" (click)="fileInput.click()" aria-label="Example icon button with a filter list icon">
             <mat-icon>add_a_photo</mat-icon>
           </button>
         <div class="name">{{username}}</div>
         <div class="options" *ngIf="location_number==0">
             <div class="option-item" routerLink="/profil/1">
                 <div class="icon"><img src="../../assets/newspaper.png" alt="" width="20px" height="20px"></div>
                 <div class="label">Modifier profil</div>
             </div>
             <div class="option-item" routerLink="/profil/2">
                 <div class="icon"><img src="../../assets/icons8-notification-50.png" alt="" width="25px" height="25px"></div>
                 <div class="label" [matBadge]="unread_notif_count" [matBadgeHidden]="unread_notif_count == ''">Notifications</div>
             </div>
             <div class="option-item" routerLink="/profil/3">
                 <div class="icon"><img src="../../assets/icons8-lock-50.png" alt="" width="25px" height="25px"></div>
                 <div class="label">Changer mot de passe</div>
             </div>
             <div class="option-item" routerLink="/centres-interets">
                <div class="icon"><img src="../../assets/grid.svg" alt="" width="25px" height="25px"></div>
                <div class="label">Mes centres d'intérêt</div>
            </div>
             <div class="option-item" routerLink="/profil/4">
                 <div class="icon"><img src="../../assets/icons8-help-50.png" alt="" width="25px" height="25px"></div>
                 <div class="label">FAQ</div>
             </div>
             <div class="option-item" routerLink="/contact">
                 <div class="icon"><img src="../../assets/icons8-contact-50.png" alt="" width="25px" height="25px"></div>
                 <div class="label">Contactez nous</div>
             </div>
             <div class="option-item" routerLink="/conditions">
                 <div class="icon"><img src="../../assets/icons8-privacy-80.png" alt="" width="25px" height="25px"></div>
                 <div class="label">Conditions d'utilisation</div>
             </div>
         </div>
         <div class="pages">
             <app-profile-info *ngIf="location_number==1"></app-profile-info>
             <app-changer-mdp *ngIf="location_number==3"></app-changer-mdp>
             <app-notifications-list *ngIf="location_number==2"></app-notifications-list>
             <app-faq-page *ngIf="location_number==4"></app-faq-page>
         </div>
         
     </div>
     <div class="desktop-container">
         <img class="circleProfile" [src]="profile_image" alt="" width="150px" height="150px">
         <button mat-mini-fab class="floatingBtn" (click)="fileInput.click()" aria-label="Example icon button with a filter list icon">
             <mat-icon>add_a_photo</mat-icon>
           </button>
         <div class="name">{{username}}</div>
     
         <div class="content">
             <div class="options">
                 <div class="option-item" routerLink="/profil/1">
                     <div class="icon"><img src="../../assets/newspaper.png" alt="" width="20px" height="20px"></div>
                     <div class="label">Modifier profil</div>
                 </div>
                 <div class="option-item" routerLink="/profil/2">
                     <div class="icon"><img src="../../assets/icons8-notification-50.png" alt="" width="25px" height="25px"></div>
                     <div class="label">Notifications</div>
                 </div>
                 <div class="option-item" routerLink="/profil/3">
                     <div class="icon"><img src="../../assets/icons8-lock-50.png" alt="" width="25px" height="25px"></div>
                     <div class="label">Changer mot de pass</div>
                 </div>
                <!-- <div class="option-item">
                     <div class="icon"><img src="../../assets/icons8-language-50.png" alt="" width="25px" height="25px"></div>
                     <div class="label">Language</div>
                 </div>
     
                 -->
                 <div class="option-item" routerLink="/centres-interets">
                    <div class="icon"><img src="../../assets/grid.svg" alt="" width="25px" height="25px"></div>
                    <div class="label">Mes centres d'intérêt</div>
                </div>
                 <div class="option-item" routerLink="/profil/4">
                     <div class="icon"><img src="../../assets/icons8-help-50.png" alt="" width="25px" height="25px"></div>
                     <div class="label">FAQ</div>
                 </div>
                 <div class="option-item" routerLink="/contact">
                     <div class="icon"><img src="../../assets/icons8-contact-50.png" alt="" width="25px" height="25px"></div>
                     <div class="label">Contactez nous</div>
                 </div>
                 <div class="option-item" routerLink="/conditions">
                     <div class="icon"><img src="../../assets/icons8-privacy-80.png" alt="" width="25px" height="25px"></div>
                     <div class="label">Conditions d'utilisation</div>
                 </div>
             </div>
             <div class="pages">
                 <app-profile-info *ngIf="location_number==1 || location_number==0"></app-profile-info>
                 <app-changer-mdp *ngIf="location_number==3"></app-changer-mdp>
                 <app-notifications-list *ngIf="location_number==2"></app-notifications-list>
                 <app-faq-page *ngIf="location_number==4"></app-faq-page>
             </div>
         </div>
        
     </div>
     <input type="file" style="display: none" #fileInput (change)="onFileSelected($event)"> 
</div>

